.errorAlert{
    padding: 1rem;
    border-radius: 1px ;
    -webkit-border-radius: 1px ;
    -moz-border-radius: 1px ;
    -ms-border-radius: 1px ;
    -o-border-radius: 1px ;
}

.errorAlert{
    font: 500 18px "italic san-serif";
    line-height: 1.5;
    color: black;
}