@use './default' as *;
.adminContainer {
    @include flex-row;
    width: 100%;
    height: 100%;
    position: relative;
}

.loginContainer{
    width: 50%;
    padding:2cqi;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(226, 226, 226, 0.3);
}

.registerContainer{
    width: 50%;
    padding: 2em;
    @include flex-column;
    background: linear-gradient(to bottom, rgba(5, 24, 93, 0.9), rgb(16, 5, 73));
}

.loginForm{
    @include flex-column;
    width:60%;
    background: #fff;
    padding: 1em;
    border-radius: 12px;
    box-shadow: 2px 2px 4px lightgray;
}

.mainFormContainer{
    flex: 1
}

.signInEmailContainer{
    @include flex-column;
}

.signInPasswordContainer{
    @include flex-column;
}

.SignInformLabel{
    font: 400 20px var(--defaultText);
    line-height: 20px;
    margin: 3px;
    padding: 5px;
}

.SignInformInput{
    margin: 3px 0;
    padding: 5px 10px;
    border-radius: 6px;
    border:1px solid rgb(225, 225, 225);
    font-size: 17px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.showPasswordContainer{
    width:100%;
    @include flex-row;
    justify-content: end;
    align-items: center;
    margin: 5px 0;
    padding: 5px 0;
}

.showPasswordText{
    font: 500 20px var(--defaultText);
    line-height:18px;
    color: black;
}

.toggleInput{
    margin: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border:1px solid rgb(225, 225, 225);
}

.toggleText{
    font: 500 18px var(--defaultText);
    line-height: 18px;
    color: black;
    margin: 0 10px;
}

.signInButtonContainer{
    width:100%;
}
.signInButton{
    cursor: pointer;
    width: 100%;
    padding: 12px 24px;
    color: #fff;
    margin: 15px 0;
    font: 500 18px var(--defaultText);
    line-height: 24px;
    background-color: #5C5CFF;
    box-shadow: 3px 0px 1px #5C5CFF;
    border: 1px solid transparent;
    border-radius: 4px ;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, cursor 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, cursor 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, cursor 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, cursor 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, cursor 0.3s ease-in-out;
}

.signInButton:hover, .signInButton:active{
    cursor: pointer;
    background-color: rgba(210, 230, 242, 0.9);
    color: #000;
    box-shadow: 3px 0px 1px rgba(210, 230, 242, 0.9);;
}

.forgotPassword{
    width:100%;
    padding: 0.5em;
    margin: 10px 0;
    @include flex-row;
    justify-content: center;
    align-items: center;
}

.forgotPasswordText{
    font: 500 18px var(--defaultText);
    line-height: 20px;
    width: 100%;
    padding: 15px 5px;
    text-align: end;
    color: #000;
    text-decoration: none;
}

.forgotPasswordText:active, .forgotPasswordText:hover{
    color: blue;
}  

.headerRegisterContainer{
    width: 100%;
    padding: 1em;
}

.mainHeaderRegister{
    font: 500 50px var(--defaultText);
    line-height: 55px;
    color: #fff;
    padding: 5px;
}

.subHeaderRegister{
    font: 400 35x var(--defaultText);
    line-height: 40px;
    color: #fff;
    padding:5px;
}

.registerButtonContainer{
    width:100%;
    padding: 1em;
}

.registrationButton{
    width: 100%;
    padding: 12px 24px;
    font: 500 18px var(--defaultText);
    line-height: 24px;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.registrationButton:hover, .registrationButton:active{
    cursor: pointer;
    background-color: rgba(210, 230, 242, 0.9);
    border: 1px solid white;
}

.techImageContainer{
    width: 100%;
    flex: 1;
    height: 300px;
    overflow: hidden;
    padding: 1em;
}

.techimage{
    width:100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width: 850px){
    .adminContainer{
        flex-direction: column;
        width: 100%;
    }
    .loginContainer{
        min-height:600px;
        width: 100%;
        padding: 1em 0.5em;
    }

    .registerContainer{
        width: 100%;
        padding: 1em 0.5em;
    }

    .loginForm{
        width: 90%;
        height:90%;
    }
    .forgotPassword{
        height: 100px;
        margin: 1px;
        padding: 1px;
    }
}