@use './default' as *;

.contactHeaderContainer {
    min-height: 500px;
    @include flex-column;
    justify-content: center;
    align-items: center;
}

.contactHeader {
    font: 500 80px var(--defaultText);
    line-height: 88px;
    color: $headerDefaultColor;
    letter-spacing: 0.013em;
}

.contactSubHeader{
    font: 400 24px var(--defaultText);
    max-width: 35ch;
    line-height: 26px;
    color: $headerDefaultColor;
    letter-spacing: 0.013em;
    text-align: center;
    margin-top: 20px;
}

.formContainer {
    padding: 1em;
    @include flex-column;
    justify-content: center;
    align-items: center;
    margin: 3em;
    border-radius: 8px ;
    -webkit-border-radius: 8px ;
    -moz-border-radius: 8px ;
    -ms-border-radius: 8px ;
    -o-border-radius: 8px ;
}

.contactFormContainer {
    @include flex-column;
    width: 50%;
    padding: 1em;
    margin: 2em;
    min-height: 500px;
    background: #eeeeee;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.inputContainer {
    flex: 1;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 130px 130px auto;
    gap: 20px;
}

.textcontainer,
.numbercontainer,
.emailcontainer {
    @include flex-column;
    width: 100%;
    padding: 1em;
    height: 130px;
}

.formLabel {
    font: 500 22px var(--defaultText);
    line-height: 25px;
    color: #000;
    margin: 5px 0;
    padding: 8px;
}

.formInput {
    font: 300 17px var(--defaultText);
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    outline: none;
    border: none;
}

.formInput:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.textAreacontainer {
    width: 100%;
    padding: 1em;
    grid-column: 1 / -1;
}

.formInputTextArea {
    padding: 10px;
    margin: 5px 0;
    height: 100px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.formInputTextArea:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.formButtonContainer {
    min-height: 30px;
    margin: 10px 0;
    padding: 1em;
    display: flex;
    justify-content: center;
}

.formButtonContainer button {
    background-color: black;
    position: relative;
    padding: 4px;
    width: 180px;
    height: 35px;
    display: flex;
    font: 400 18px var(--defaultText);
    line-height: 2;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: #fff;
}

.formButtonContainer button:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border: 1px solid rgb(146, 144, 144);
    cursor: pointer;
}

@media screen and (max-width:850px) {
    .contactFormContainer {
        width: 90%;
    }

    .formContainer {
        width: 100%;
        margin: 20px 0;
    }

    .contactFormContainer {
        margin: 1em;
    }

    .formInput{
        padding: 5px;
    }

    .formLabel{
        padding: 5px;
        font-size: 18px;
    }

    .inputContainer {
        grid-template-columns: 1fr;
        gap: 1px;
        padding: 0.2em;
    }
    .textcontainer,
    .numbercontainer,
    .emailcontainer{
        height: 100px;
        padding: 0.5em;
    }
}