@use './default' as *;

.contactHeaderContainer {
  height: calc(100vh - 80px);
  @include flex-column;
  justify-content: center;
  align-items: center;
}

.contactHeader {
  font: 600 90px $defaultText;
  line-height: 88px;
  color: $headerDefaultColor;
  letter-spacing: 0.013em;
  animation: fadein 2s ease-in-out;
  -webkit-animation: fadein 2s ease-in-out;
}

.contactSubHeader {
  font: 400 22px $defaultText;
  max-width: 35ch;
  line-height: 30px;
  color: $headerDefaultColor;
  letter-spacing: 0.013em;
  text-align: center;
  margin-top: 20px;
  animation: fadein 2s ease-in-out;
  -webkit-animation: fadein 2s ease-in-out;
}

.formContainer {
  width: 90%;
  padding: 1em;
  @include flex-row;
  justify-content: center;
  align-items: center;
  margin: 120px auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.contactFormContainer {
  @include flex-column;
  width: 50%;
  height: 100%;
  padding: 1em;
  margin: 2em;
  min-height: 500px;
  background: rgba(226, 225, 225, 0.45);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 12px !important;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  -ms-border-radius: 12px !important;
  -o-border-radius: 12px !important;
  animation: fadein 2s ease-in-out;
  -webkit-animation: fadein 2s ease-in-out;
}

.inputContainer {
  flex: 1;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 110px 110px auto;
  gap: 5px;
}

.textcontainer,
.numbercontainer,
.emailcontainer {
  @include flex-column;
  width: 100%;
  padding: 0.5rem;
}

.formLabel {
  font: 500 20px $defaultText;
  line-height: 25px;
  color: $defaultColor;
  margin: 5px 0;
  padding: 8px;
}

.formInput {
  background-color: transparent;
  border: 1px solid lightgray;
  color: $defaultColor;
  font: 500 20px $defaultText;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  outline: none;
  transition: box-shadow 0.4s, transform 0.4s;
  -webkit-transition: box-shadow 0.4s, transform 0.4s;
  -moz-transition: box-shadow 0.4s, transform 0.4s;
  -ms-transition: box-shadow 0.4s, transform 0.4s;
  -o-transition: box-shadow 0.4s, transform 0.4s;
}

.formInput:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.textAreacontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
  grid-column: 1 / -1;
}

.formInputTextArea {
  background-color: transparent;
  padding: 10px;
  margin: 15px 0;
  flex: 1;
  width: 100%;
  outline: none;
  color: $defaultColor;
  border: 1px solid lightgray;
  border-radius: 12px;
  transition: box-shadow 0.5s, transform 0.5s;
}

// Record Ack Colours
.notAck {
  background: rgba(255, 0, 0, 0.8);
  width: 100%;
  display: block;
  padding: 10px;
}
.ack {
  background-color: green;
  width: 100%;
  display: block;
  padding: 10px;
}

.formInputTextArea:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.formButtonContainer {
  margin: 5px 5px 10px 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.formButtonContainer button {
  position: relative;
  padding: 4px;
  width: 180px;
  display: flex;
  font: 500 22px $defaultText;
  line-height: 28px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: $defaultColor;
}

.formButtonContainer button:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  border: 1px solid rgb(146, 144, 144);
  cursor: pointer;
  box-shadow: 1px 2px 2px #5c5cff;
}

.helpContainer {
  width: 50%;
  background: rgba(226, 225, 225, 0.45);
  height: 100%;
  display: flex;
  flex-direction: column;
  animation: fadein 2s ease-in-out;
  -webkit-animation: fadein 2s ease-in-out;
}

.helpContentContainer {
  flex: 1;
  padding: 30px;
}

.helpHeader {
  font: 600 40px $defaultText;
  margin: 20px 0;
  padding: 10px 0;
  color: black;
}

.helpText {
  font: 300 20px $defaultText;
  line-height: $default_line_height;
  color: black;
}

.contactLinkContainer {
  padding: 20px;
  height: 300px;
}
.contactLinksList {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.contactLinksMethod {
  font: 400 18px $defaultText;
  line-height: $default_line_height;
  color: $defaultColor;
  margin: 5px;
  width: 20%;
}
.contactLinks {
  width: 80%;
  font: 400 18px $defaultText;
  line-height: $default_line_height;
  color: $defaultColor;
  margin: 5px;
}
// Media Queries
@media screen and (max-width: 850px) {
  .contactFormContainer {
    width: 90%;
  }

  .formContainer {
    width: 100%;
    margin: 20px 0;
  }

  .contactFormContainer {
    margin: 1em;
  }

  .formInput {
    padding: 5px;
  }

  .formLabel {
    padding: 5px;
    font-size: 18px;
  }

  .inputContainer {
    grid-template-columns: 1fr;
    gap: 1px;
    padding: 0.2em;
  }
  .textcontainer,
  .numbercontainer,
  .emailcontainer {
    height: 100px;
    padding: 0.5em;
  }
}

.contactFormButton:disabled {
  background-color: #6c757d; /* same as btn-secondary */
  border-color: #6c757d;
  color: #fff;
  opacity: 0.6;
  cursor: not-allowed;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
