@use './default' as *;

.dashboardMain{
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 35px;
}

.dashStatMain{
    background-color: rgba(255, 255, 255, 0.996);
    padding: 1rem;
    border: 1px solid rgba(223, 223, 223, 0.563);
    box-shadow: 0 2px 6px rgba(117, 117, 117, 0.05);
    margin: 1rem;
    min-height: 50%;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    transition: cursor 0.5s, transform 0.5s;
    -webkit-transition: cursor 0.5s, transform 0.5s;
    -moz-transition: cursor 0.5s, transform 0.5s;
    -ms-transition: cursor 0.5s, transform 0.5s;
    -o-transition: cursor 0.5s, transform 0.5s;
}

.dashStatMain:hover{
    cursor: pointer;
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}

.dashboardStatContainer{
    display: flex;
    flex-direction: column;
}

.statName{
    font: 600 1.5rem "Poppins", sans-serif;
    line-height: 2;
    margin: 10px 0;
    color: black;
    text-align: center;
}

.statDesc{
    font: 400 1rem "Poppins", sans-serif;
    line-height: 1.5;
    color: black;
    text-align: center;
    margin: 10px 0;
}

.dashboardVal{
    font: 600 1.4rem "Poppins", sans-serif;
    line-height: 1.5;
    margin: 10px 0;
    padding: 5px;
    color: black;
    text-align: center;
    display: grid;
    place-content: center;
    border: 1px solid rgba(195, 195, 195, 0.563);
}

.recordDateContainer{
    margin: 3px;
    padding: 3px;
}

.recordDateText{
    font: 500 0.9rem "Poppins", sans-serif;
    line-height: 1.2rem;
    margin-bottom: 10px;
    color: black;
}


@media screen and (max-width:750px) {
    .dashboardMain{
        grid-template-columns: 1fr;
    }
    .loggedinLeftContainer{
        margin: 10px 0;
    }
    .dashboardMain{
        padding: 10px;
        gap: 10px;
    }
    .dashStatMain{
        padding: 10px;
        margin: 10px;
    }
}