$default_line_height: 1.5;
$headerDefaultColor: #000;
$defaultText: 'san-serif';
$defaultColor: #000;

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
