header {
    background: linear-gradient(to bottom, #ffffff, #f9f9f9);
    padding: 30px;
    min-height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.headerContainer {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.headerTitle {
    font-family: var(--defaultText);
    font-weight: 600;
    font-size: clamp(2rem, 8vw, 130px);
    letter-spacing: 0.05em;
    line-height: 1.1;
    margin: 0.5rem 0;
    color: black;
    text-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    animation: fadein 1.2s ease-in-out;
    -webkit-animation: fadein 1.2s ease-in-out;
}

.subHeaderTitle {
    width: 100%;
    max-width: 50ch;
    font: 500 22px var(--defaultText);
    white-space: normal;
    letter-spacing: 0.013em;
    line-height: 1.7;
    color: black;
    text-align: center;
    margin: 5px;
    animation: 1.2s fadein ease-in-out;
    -webkit-animation: 1.2s fadein ease-in-out;
}

.firstSection {
    min-height: 200px;
    padding: 20px;
}

.offeringContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 1.5em;
    border-radius: 8px;
    margin: 20px auto;
    min-height: 400px;
    background-color: rgba(202, 202, 202, 0.4);
    box-shadow: 1px 3px 8px rgba(131, 131, 131, 0.6);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.offeringTextContainer {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5em;
}

.offeringImageContainer {
    width: 45%;
    padding: 2em;
    display: grid;
    place-items: center;
}

.offeringImage {
    width: 200px;
    height: 200px;
    animation: 1s spin ease-out;
    -webkit-animation: 1s spin ease-out;
}

.offeringHeader {
    font: 600 23px var(--defaultText);
    line-height: 1.5;
    margin: 1em;
}

.offeringSubHeader {
    font: 500 18px var(--defaultText);
    line-height: 1.5;
    margin: 0.5em 1em;
}

.discoverMoreButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    width: 200px;
    height: 40px;
    background-color: rgba(18, 19, 19, 0.9);
    color: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.discoverArrow {
    position: absolute;
    right: 5px;
    height: 40px;
}

.discoverMoreButton:hover {
    cursor: pointer;
    outline: 1px solid white;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

@media screen and (max-width:750px) {
    header {
        padding: 15px;
        margin-bottom: 10px;
        min-height: 400px;
    }

    .subHeaderTitle {
        font-size: 16px;
    }

    .headerTitle {
        font-size: 56px;
    }

    .firstSection {
        padding: 10px;
    }

    .headerSubContainer {
        width: 90%;
        margin: 0.5em;
    }

    .offeringContainer {
        flex-direction: column;
        padding: 1em;
        margin: 10px auto;
    }

    .offeringTextContainer,
    .offeringImageContainer {
        width: 100%;
        padding: 1em;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .offeringHeader {
        text-align: center;
        font-size: 21px;
        margin: 15px 5px;
    }

    .offeringSubHeader {
        font-size: 18px;
        text-align: center;
        margin: 15px 5px;
    }

    .discoverMoreButton {
        margin: 30px auto;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}