@use './default' as *;

header {
  background: linear-gradient(
    90deg,
    rgb(235, 235, 235) 0%,
    rgba(213, 213, 213, 1) 100%
  );

  padding: 30px;
  min-height: 500px;
  position: relative;
  @include flex-column;
  min-height: calc(100vh - 80px);
}

.headerContainer {
  padding: 1em;
  @include flex-column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.headerTitle {
  font-family: var(--defaultText);
  font-weight: 600;
  font-size: 90px;
  letter-spacing: 0.05em;
  line-height: 90px;
  margin: 0.5rem 0;
  color: $headerDefaultColor;
  text-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  animation: fadein 2s ease-in-out;
  -webkit-animation: fadein 2s ease-in-out;
}

.subHeaderTitle {
  width: 100%;
  max-width: 50ch;
  font: 500 22px var(--defaultText);
  white-space: normal;
  letter-spacing: 0.013em;
  line-height: 30px;
  color: $headerDefaultColor;
  text-align: center;
  margin: 5px;
  animation: fadein 2s ease-in-out;
  -webkit-animation: fadein 2s ease-in-out;
}

.GetStartedbutton {
  animation: fadein 2s ease-in-out;
  -webkit-animation: fadein 2s ease-in-out;
}

.firstSection {
  padding: 20px;
  margin: 50px auto 30px auto;
}

.offeringContainer {
  @include flex-row;
  width: 60%;
  padding: 1.5em;
  border-radius: 8px;
  margin: 30px auto;
  min-height: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 3px 8px rgba(131, 131, 131, 0.6);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.offeringTextContainer {
  width: 55%;
  @include flex-column;
  justify-content: center;
  padding: 2.5em;
}

.offeringImageContainer {
  width: 45%;
  padding: 2em;
  display: grid;
  place-items: center;
}

.offeringImage {
  width: 200px;
  height: 200px;
  animation: 1s spin ease-out infinite;
  -webkit-animation: 3s spin ease-out infinite;
}

.offeringHeader {
  font: 600 23px var(--defaultText);
  line-height: 1.5;
  margin: 0.5em 1em;
  color: black;
}

.offeringSubHeader {
  font: 500 18px var(--defaultText);
  line-height: 1.5;
  margin: 0.5em 1em;
  color: black;
}

.discoverMoreButton {
  margin: 0.5em 1em;
  width: 200px;
  height: 40px;
}

.discoverArrow {
  position: absolute;
  right: 5px;
  height: 40px;
}

.discoverMoreButton:hover {
  cursor: pointer;
  outline: 1px solid white;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

@media screen and (max-width: 750px) {
  header {
    padding: 15px;
    margin-bottom: 10px;
    min-height: 400px;
  }

  .subHeaderTitle {
    font-size: 16px;
  }

  .headerTitle {
    font-size: 56px;
  }

  .firstSection {
    padding: 10px;
    width: 100%;
  }

  .headerSubContainer {
    width: 90%;
    margin: 0.5em;
  }

  .offeringContainer {
    width: 90%;
    flex-direction: column;
    padding: 1em;
    margin: 10px auto;
  }

  .offeringTextContainer,
  .offeringImageContainer {
    width: 100%;
    padding: 1em;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .offeringHeader {
    text-align: center;
    font-size: 21px;
    margin: 15px 5px;
  }

  .offeringSubHeader {
    font-size: 18px;
    text-align: center;
    margin: 15px 5px;
  }

  .discoverMoreButton {
    margin: 30px auto;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
