@import "tailwindcss";
@plugin "daisyui";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer {
  flex-shrink: 0;
}