@use './default' as *;

nav {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(6px);
    @include flex-row;
    padding: 0.5em 3em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.BrandContainer {
    width: 40%;
    display: flex;
    align-items: center;
    padding: 0.5em;
}

.brandName {
    font: 500 22px var(--defaultText);
    line-height: 1.5;
    color: black;
    letter-spacing: 0.012em;
}

.MobileMenuListContainer {
    width: 60%;
    padding: 0.5em;
    @include flex-row;
    place-items: center;
    justify-content: end;
}

.navigationLinkList {
    list-style: none;
    display: inline-block;
    margin: 5px 10px;
}


.navigationLinkList a {
    color: black;
    font: 400 18px var(--defaultText);
    line-height: 1.5;
    text-decoration: none;
}

.navigationLinkList a:hover {
    text-decoration: underline;
    text-decoration-color: black;
    text-underline-position: under;
    -moz-text-decoration-color: black;
}

.mobileMenuButton {
    background: none;
    @include flex-column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 90%;
    padding: 0.5em;
    margin: 0.5em;
    border: none;
}

.mobileBar {
    width: 25px;
    height: 5px;
    background-color: black;
    margin: 1px;
}

.mobileMenuContainer {
    width: 100%;
    @include flex-column;
}

.mobileMenu {
    padding: 1em 0.5em;
    background-color: rgba(240, 240, 240, 0.6);
    border: 1px solid rgba(220, 220, 220, 0.8);
    animation: 1s fadein ease-in-out;
    -webkit-animation: 1s fadein ease-in-out;
}

.mobileMenu a {
    line-height: 1.5 !important;
    font: 400 22px var(--defaultText);
    color: black;
    letter-spacing: 0.013em;
    text-decoration: none;
    margin: 10px 5px;
    padding: 5px;
}

.mobileMenu a:hover {
    text-decoration: underline;
    text-decoration-color: black;
    text-underline-position: under;
    -moz-text-decoration-color: black;
}

@keyframes fadein {
    0% {
        opacity: 0;
        top: -100%;
    }

    100% {
        opacity: 1;
        top: 0%;
    }
}

@media  screen and (max-width:750px) {
    nav{
        padding: 0.5em 1em;
    }
}