@use './default' as *;

nav {
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(6px);
  @include flex-row;
  padding: 0.5em 3em;
  z-index: 10000;
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.BrandContainer {
  width: 40%;
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.brandName {
  font: 500 22px $defaultText;
  line-height: $default_line_height !important;
  color: $defaultColor;
  letter-spacing: 0.012em;
}

.MobileMenuListContainer {
  width: 60%;
  padding: 0.5em;
  @include flex-row;
  place-items: center;
  justify-content: end;
}

.navigationLinkList {
  list-style: none;
  display: inline-block;
  margin: 5px 10px;
}

.navigationLinkList a {
  color: $defaultColor;
  font: 400 18px $defaultText;
  line-height: 1.5;
  text-decoration: none;
}

.navigationLinkList a:hover {
  color: #00009e;
}

.mobileMenuButton {
  background: none;
  @include flex-column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  height: 90%;
  padding: 0.5em;
  margin: 0.5em;
  border: none;
}

.mobileBar {
  width: 25px;
  height: 5px;
  background-color: black;
  margin: 1px;
}

.mobileMenuContainer {
  background-color: rgb(255, 255, 255);
  width: 100%;
  @include flex-column;
  height: calc(100vh - 80px);
  top: 80px;
  position: fixed;
  overflow: hidden;
  z-index: 9999;
  transform: translateX(100%);
  transition: transform 5s ease-in-out;
  -webkit-transition: transform 5s ease-in-out;
  -moz-transition: transform 5s ease-in-out;
  -ms-transition: transform 5s ease-in-out;
  -o-transition: transform 5s ease-in-out;
}

.mobileMenuContainer.open {
  transform: translateX(0);
}

.mobileMenu {
  padding: 1em 0.5em;
  background-color: rgba(249, 249, 249, 0.6);
  border: 1px solid rgba(232, 232, 232, 0.8);
  animation: 1s fadein ease-in-out;
  -webkit-animation: 1s fadein ease-in-out;
}

.mobileMenu a {
  line-height: $default_line_height !important;
  font: 400 22px $defaultText;
  color: $defaultColor;
  letter-spacing: 0.013em;
  text-decoration: none;
  margin: 10px 5px;
  padding: 5px;
}

.mobileMenu a:hover,
.mobileMenu a:active {
  color: #00009e;
  background-color: #fff;
}

@keyframes fadein {
  0% {
    opacity: 0;
    top: -100%;
  }

  100% {
    opacity: 1;
    top: 0%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 750px) {
  nav {
    padding: 0.5em 1em;
  }
  .mobileMenu {
    padding: 0.5em;
    transition: fadeIn 2 ease-in;
    -webkit-transition: fadeIn 2 ease-in;
    -moz-transition: fadeIn 2 ease-in;
    -ms-transition: fadeIn 2 ease-in;
    -o-transition: fadeIn 2 ease-in;
  }
  .mobileMenu li:hover,
  .mobileMenu li:active {
    background-color: rgba(249, 249, 249, 0.6);
  }
  .mobileMenu a {
    display: block;
    width: 100%;
  }
}
