@use './default' as *;

.mainPortalContainer {
  width: 100%;
  background-color: rgb(252, 252, 252);
  @include flex-row;
  flex: 1;
  min-height: 0;
}

.loggedInMainContainer {
  @include flex-column;
  flex: 1;
  min-width: 0;
  margin: 10px auto;
  padding: 1rem 0.5rem;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}
.dashstatsContainer {
  width: 100%;
  padding: 1rem;
}

.userLoggedinContainer {
  width: 100%;
}

.currentDateContainer,
.userLoggedinContainer {
  margin: 5px 0;
  padding: 5px;
}

.curDateText {
  font: 400 1.2rem 'Inter san-serif';
  line-height: 28px;
  color: rgba(79, 79, 79, 0.8);
  margin: 10px 15px;
}

.loggedinLeftContainer {
  width: 100%;
  margin: 20px 25px;
}

.loggedinUserText {
  padding: 10px 0;
  margin: 5px 10px;
  font: 600 1.8rem 'Inter san-serif';
  line-height: 40px;
  color: $defaultColor;
}

.loggedInSubText {
  margin: 5px 10px;
  padding: 5px 0;
  font: 300 1.1rem 'Inter san-serif';
  line-height: 1.5;
  color: $defaultColor;
}

.dashboardContainer {
  background-color: rgba(255, 255, 255, 0.7);
  width: 95%;
  margin: 10px auto;
  padding: 1em;
}

.levelContainer {
  padding: 0.5rem 1rem;
  @include flex-row;
  align-items: center;
}

#dashboardStats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 35px;
  margin-top: 20px;
}

#contactRecords {
  margin-top: 20px;
}

.adminMenu {
  @include flex-row;
  align-items: center;
}

.dashboardSettingsContainer {
  padding: 1rem;
}

.dashboardCollapse {
  padding: 1rem;
  border: 1px solid rgba(167, 167, 167, 0.5);
  color: $defaultColor;
  font: 500 18px 'italic san-serif';
}

#contactRecords {
  display: flex;
}

// Media query
@media screen and (max-width: 750px) {
  .loggedInMainContainer {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0.5rem;
  }

  .loggedinLeftContainer {
    width: 100%;
    padding: 0.5em;
  }

  .loggedinRightContainer {
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 0.5em;
  }
  .levelContainer {
    flex-direction: column;
    padding: 5px;
  }
  .dashboardCollapse {
    margin: 10px auto;
    padding: 0.5em;
  }
  .mainPortalContainer {
    flex-direction: column;
  }
}
